* {
  box-sizing: border-box;
}

@font-face {
      font-family: "Kdam Thmor Pro";
      src: url("../../assets/fonts/Kdam Thmor Pro/KdamThmorPro-Regular.ttf") format("truetype");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px 20px; /* smaller */
  background: #E6E6E6;
  border-radius: 12px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-pfp img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.admin-info {
  display: flex;
  flex-direction: column; 
}

.role {
  color: #1E90FF;
  font-weight: bold;
  font-size: 0.8rem;
}

.orgname {
  color: #1E90FF;
  font-size: 0.7rem;
}

.logout-btn img {
  width: 20px;
  height: 20px;
}

nav a {
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 50px; 
  color: white;
  background-color: #aaa; 
  font-family: sans-serif;
  font-weight: bold;
}

.nav-link { 
  padding: 20px;
  gap: 15px;     
  border-radius: 12px;
  background-color: #989898; 
}

.nav-bar {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.nav-bar a {
  padding: 8px 16px;
  border-radius: 20px;
  background: #989898;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-bar a.active {
  background: #1E90FF;
}

.nav-bar a:hover {
  opacity: 0.8;
}

body {
  margin: 20px;
  background: #0f2235;
  color: #cfe6ff;
}

.dashboard-container {
  padding: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.card {
  background: #6f8fa8;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.small-card {
  background: #5f7d96;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
}

.card h3 {
  margin-top: 0;
  font-size: 18px;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary {
  margin-top: 20px;
}

