* {
  box-sizing: border-box;
}

@font-face {
      font-family: "Kdam Thmor Pro";
      src: url("../../assets/fonts/Kdam Thmor Pro/KdamThmorPro-Regular.ttf") format("truetype");
}

.header {
  display: flex;
  padding: 20px;
  gap: 15px;     
  background: #E8E8E8;
  border-radius: 12px;
  margin-bottom: 15px;
}

.nav-link { color: #989898; }
.nav-link.active { color: #4990DF; }


.nav-bar {
  margin-right: auto;    
  border-radius: 12px;
  margin-bottom: 15px;
}


body {
  margin: 20px;
  background: #0f2235;
  color: #cfe6ff;
}

.dashboard-container {
  padding: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.card {
  background: #6f8fa8;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.small-card {
  background: #5f7d96;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
}

.card h3 {
  margin-top: 0;
  font-size: 18px;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary {
  margin-top: 20px;
}

nav a {
  color: white;
}
