
@font-face {
      font-family: "Kdam Thmor Pro";
      src: url("../assets/fonts/Kdam Thmor Pro/KdamThmorPro-Regular.ttf") format("truetype");
}

*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: "Kdam Thmor Pro", sans-serif;
      background: #FFFFFF;
      overflow: hidden;
}

.dashboard-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      margin: 30px 60px 0px 60px;
      padding: 8px;
      background-color: #E9E9E9;
}

.dashboard-navbar-logo {
      width: 52px;
      margin-left: 60px;
}

.dashboard-navbar-tabs {
      display: flex;
      gap: 16px;
}

.dashboard-tab-inactive, .dashboard-tab-active {
      width: 210px;
      color: #FFFFFF;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      border-radius: 20px;
      padding: 10px;
      cursor: pointer;
}

.dashboard-tab-inactive {
      background-color: #A9A9A9;
}

.dashboard-tab-inactive:hover {
      background-color: #686868;
}

.dashboard-tab-active {
      background-color: #ADDAFF;
}

.dashboard-tab-active:hover {
      background-color: #3894D9;
}

.dashboard-navbar-user {
      display: flex;
      align-items: center;
}

.dashboard-navbar-user-icon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #3894D9;
      border-radius: 100%;
      margin-right: 24px;
      background-color: #FFFFFF;
}

.dashboard-navbar-user-icon img {
      padding: 6px 6px 8px 6px;
}

.dashboard-navbar-user-info {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
}

.dashboard-navbar-user-name {
      font-size: 16px;
      color: #3894D9;
}

.dashboard-navbar-user-email {
      font-size: 14px;
      color: #A9A9A9;
}

.dashboard-navbar-logout {
      border: none;
      margin-right: 40px;
      cursor: pointer;
      background: transparent;
}

.dashboard-navbar-logout img {
      width: 36px;
      opacity: 70%;
}

.dashboard-navbar-logout img:hover {
      opacity: 100%;
}

main {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      margin: 30px 60px 0px 60px;
}

.overview-header {
      color: #3894D9;
      font-size: 32px;
      padding: 0px 0px 4px 40px;
}

.overview-container {
      display: grid;
      grid-template-columns: 1fr 680px;
      grid-template-rows: 190px 190px 280px;
      align-items: start;
      gap: 20px;
}

.overview-my-pets-grid {
      height: 400px;
      max-height: 400px;
      grid-column: 1;
      grid-row: 1 / 3;
      border-radius: 20px;
      padding: 30px 40px 30px 40px;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.6);
}

.overview-my-pets-grid-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
}

.overview-my-pets-grid-header p {
      color: #3894D9;
      font-size: 28px;
}

.overview-my-pets-grid-see-more {
      color: #FFFFFF;
      font-size: 16px;
}

.overview-my-pets-grid-see-more:hover {
      color: #686868;
}

.upcoming-reminders-grid {
      height: 190px;
      grid-column: 2;
      grid-row: 1;
      border-radius: 20px;
      padding: 30px 40px 30px 40px;
      overflow: hidden;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.6);
}

.recent-activities-grid {
      height: 190px;
      grid-column: 2;
      grid-row: 2;
      border-radius: 20px;
      padding: 30px 40px 30px 40px;
      overflow: hidden;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.6);
}

.upcoming-reminders-grid p, .recent-activities-grid p {
      color: #3894D9;
      font-size: 28px;
}

.dashboard-list {
      display: flex;
      flex-direction: column;
}

.dashboard-list li {
      display: flex;
      color: #FFFFFF;
      font-size: 16px;
      margin: 6px 0px 0px 20px;
}

.register-pet-container {
      height: 280px;
      display: flex;
      grid-column: 1 / -1;
      grid-row: 3;
      border-radius: 20px;
      padding: 40px;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.6);
}

.register-pet-left {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
}

.register-pet-left p {
      color: #3894D9;
      font-size: 28px;
}

.register-now-button {
      width: 200px;
      align-self: flex-end;
      color: #FFFFFF;
      font-size: 16px;
      font-family: "Kdam Thmor Pro", sans-serif;
      border: none;
      border-radius: 20px;
      margin-right: 20px;
      padding: 16px;
      cursor: pointer;
      background-color: #3894D9;
}

.register-now-button:hover {
      background-color: #2478B8;
}

.register-pet-divider {
      width: 3px;
      background-color: #3894D9;
}

.register-pet-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 20px;
      gap: 20px;
}

.register-pet-form-row {
      display: flex;
      gap: 20px;
}

.register-pet-form-field, .register-pet-form-field-dropdown {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 20px;
}

.register-pet-form-field label, .register-pet-form-field-dropdown label {
      color: #3894D9;
      font-size: 16px;
      margin: 0px 6px -10px 6px;
}

.register-pet-form-field input, .register-pet-form-field-dropdown select {
      color: #686868;
      font-size: 16px;
      font-family: "Kdam Thmor Pro", sans-serif;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 16px;
      appearance: none;
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.8);
}

.pet-name input {
      width: 340px;
}

.pet-sex select {
      width: 160px;
      height: 56px;
}

.pet-card {
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      overflow: hidden;
}

.pet-card:hover {
      background: rgba(255, 255, 255, 0.8);
}

.pet-card.active {
      background: rgba(255, 255, 255, 0.8);
      outline: 4px solid #3894D9;
}

.pet-card-photo {
      width: 220px;
      height: 220px;
      overflow: hidden;
}

.pet-card-photo img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin: 24px;
}

.pet-card-name, .pet-card-age {
      text-align: center;
}

.pet-card-name {
      color: #3894D9;
      text-transform: uppercase;
}

.pet-card-age {
      color: #686868;
      padding-bottom: 16px;
}

.my-pets-container {
      display: grid;
      grid-template-columns: 1fr 480px;
      gap: 40px;
}

.my-pets-grid {
      height: 720px;
      align-self: center;
      border-radius: 20px;
      margin-top: 30px;
      padding: 40px;
      overflow-x: hidden;
      overflow-y: auto;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.9);
}

.my-pets-grid-header {
      display: flex;
      flex-direction: column;
}

.my-pets-grid-header p  {
      color: #3894D9;
      font-size: 28px;
}

.my-pets-grid-header hr {
      border-color: #FFFFFF;
      margin-top: 10px;
}

.my-pets-grid-cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      margin-top: 30px;
}

.pet-details-panel {
      height: 658px;
      align-items: center;
      border-radius: 20px;
      margin-top: 62px;
      padding: 40px;
      backdrop-filter: blur(4px);
      background-color: rgba(220, 220, 220, 0.8);
}

.pet-details-content {
      display: flex;
      flex-direction: column;
}

.pet-details-header {
      display: flex;
      justify-content: space-between;
}

.pet-details-header p {
      color: #3894D9;
      font-size: 28px;
}

.remove-pet {
      color: #F44336;
      font-size: 16px;
      margin-top: 18px;
      cursor: pointer;
}

.remove-pet:hover {
      color: #B9271D;
}

.pet-details-panel hr {
      border-color: #FFFFFF;
      margin-top: 10px;
}

.pet-details-info {
      margin-top: 20px;
      margin-bottom: 20px;
}

.pet-details-info p {
      color: #3894D9;
}

.pet-details-info span {
      color: #686868;
}

.more-about-your-pet {
      text-align: center;
}

.edit-profile-container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 480px;
      gap: 40px;
}

.edit-profile-grid {
      height: 720px;
      align-self: center;
      border-radius: 20px;
      margin-top: 30px;
      padding: 40px;
      backdrop-filter: blur(4px);
      background-color: rgba(173, 218, 255, 0.9);
}

.edit-profile-grid-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.edit-profile-grid-header p {
      color: #3894D9;
      font-size: 28px;
}

.edit-profile-grid-links {
      display: flex;
      gap: 20px;
}

.change-password-link {
      color: #FFFFFF;
      font-size: 16px;
      cursor: pointer;
}

.request-account-deletion-link {
      color: #F44336;
      font-size: 16px;
      cursor: pointer;
}

.change-password-link:hover {
      color: #E9E9E9;
}

.request-account-deletion-link:hover {
      color: #B9271D;
}

.edit-profile-grid hr {
      border-color: #FFFFFF;
      margin-top: 10px;
}

.edit-profile-section {
      display: flex;
      flex-direction: column;
}

.edit-profile-form {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      gap: 40px;
}

.edit-profile-form-row {
      display: flex;
      align-items: flex-end;
      gap: 20px;
}

.edit-profile-form-row p {
      color: #FFFFFF;
      font-size: 22px;
}

.edit-profile-form-field {
      width: 80px;
      display: flex;
      flex: 1;
      flex-direction: column;
}

.edit-profile-form-field label {
      color: #3894D9;
      font-size: 16px;
      margin: 6px;
}

.edit-profile-form-field input {
      color: #686868;
      font-size: 16px;
      font-family: "Kdam Thmor Pro", sans-serif;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 18px;
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.8);
}

.edit-profile-submit {
      display: flex;
      justify-content: flex-end;
}

.update-profile-button {
      width: 200px;
      color: #FFFFFF;
      font-size: 16px;
      font-family: "Kdam Thmor Pro", sans-serif;
      border: none;
      border-radius: 20px;
      margin-top: 16px;
      padding: 16px;
      cursor: pointer;
      background-color: #3894D9;
}

.update-profile-button:hover {
      background-color: #2478B8;
}

.edit-profile-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.profile-avatar {
      width: 320px;
      height: 320px;
      display: flex;
      justify-content: center;
      border: 4px solid #A9A9A9;
      border-radius: 100%;
      margin-top: 60px;
      background-color: #E9E9E9;
}

.profile-avatar img {
      width: 68%;
      padding-bottom: 20px;
}

.profile-summary {
      width: 100%;
      height: 320px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      margin-top: 20px;
      padding: 40px;
      backdrop-filter: blur(4px);
      background-color: rgba(220, 220, 220, 0.8);
}

.profile-summary p {
      color: #3894D9;
}

.profile-summary span {
      color: #686868;
}

.panel-name {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
}

.panel-user-id {
      margin-bottom: 10px;
}
.panel-birthday {
      margin-bottom: 10px;
}

.panel-home-address {
      margin-top: 10px;
}

.background-paw-print {
      position: absolute;
      width: 120px;
      margin-top: -40px;
}

.background-paw-print:nth-child(1) {top: 210px; left: 110px}
.background-paw-print:nth-child(2) {top: 210px; left: 460px}
.background-paw-print:nth-child(3) {top: 210px; left: 810px}
.background-paw-print:nth-child(4) {top: 210px; left: 1160px}
.background-paw-print:nth-child(5) {top: 210px; left: 1510px}
.background-paw-print:nth-child(6) {top: 390px; right: 110px}
.background-paw-print:nth-child(7) {top: 390px; right: 460px}
.background-paw-print:nth-child(8) {top: 390px; right: 810px}
.background-paw-print:nth-child(9) {top: 390px; right: 1160px}
.background-paw-print:nth-child(10) {top: 390px; right: 1510px}
.background-paw-print:nth-child(11) {top: 570px; left: 110px}
.background-paw-print:nth-child(12) {top: 570px; left: 460px}
.background-paw-print:nth-child(13) {top: 570px; left: 810px}
.background-paw-print:nth-child(14) {top: 570px; left: 1160px}
.background-paw-print:nth-child(15) {top: 570px; left: 1510px}
.background-paw-print:nth-child(16) {top: 750px; right: 110px}
.background-paw-print:nth-child(17) {top: 750px; right: 460px}
.background-paw-print:nth-child(18) {top: 750px; right: 810px}
.background-paw-print:nth-child(19) {top: 750px; right: 1160px}
.background-paw-print:nth-child(20) {top: 750px; right: 1510px}